In [1]:
import pandas as pd 
import numpy as np

In [2]:
dfiris =  pd.read_csv("C:/Users/ajjup/OneDrive/Desktop/DATASETS/Classification/SVM/Iris.csv")

In [3]:
dfiris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
dfiris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
dfiris.drop('Id',axis=1, inplace = True)

In [8]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

###  Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
label = LabelEncoder()

In [14]:
label

LabelEncoder()

In [15]:
label.fit(dfiris['Species'])

LabelEncoder()

In [16]:
label

LabelEncoder()

In [18]:
ary1 = label.transform(dfiris['Species'])

In [19]:
ary1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [20]:
dfsp = pd.DataFrame(ary1, columns = ['Outcome'])

In [21]:
dfsp

     Outcome
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [22]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
dfiris =  pd.concat([dfiris, dfsp], axis = 1)

In [25]:
dfiris

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Outcome
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [27]:
dfiris.drop('Species', axis = 1, inplace=True)

In [28]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Outcome
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

###  Data Separation & spliting

In [30]:
X = dfiris.drop('Outcome', axis= 1)

In [31]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [32]:
y =  dfiris['Outcome']

In [33]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Outcome, Length: 150, dtype: int32

In [34]:
from sklearn.model_selection import train_test_split

In [52]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size = 0.20)

In [53]:
Xtrain.shape,Xtest.shape, X.shape

((120, 4), (30, 4), (150, 4))

In [54]:
ytrain.shape, ytest.shape, y.shape

((120,), (30,), (150,))

###  Model  Building

In [55]:
from sklearn.svm import SVC

In [56]:
ajsvm = SVC()

In [57]:
ajsvm

SVC()

In [58]:
ajsvm.fit(Xtrain,  ytrain)

SVC()

In [59]:
ajsvm.score(Xtest, ytest)

0.9666666666666667

###   CROSS VALIDATION

In [60]:
from sklearn.model_selection  import cross_val_score

In [62]:
svmmodel = SVC()

In [64]:
svmmodel

SVC()

In [65]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [66]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Outcome, Length: 150, dtype: int32

In [68]:
score = cross_val_score(svmmodel, X, y, cv = 10 )

In [69]:
score

array([1.        , 0.93333333, 1.        , 1.        , 1.        ,
       0.93333333, 0.93333333, 0.93333333, 1.        , 1.        ])

In [70]:
score.mean()

0.9733333333333334

###   Automate Different Algorithms

In [71]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [72]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Outcome, Length: 150, dtype: int32

In [73]:
from sklearn.model_selection import train_test_split

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [89]:
X_train.shape, X_test.shape, X.shape

((120, 4), (30, 4), (150, 4))

In [90]:
y_train.shape, y_test.shape,  y.shape

((120,), (30,), (150,))

In [91]:
from sklearn.svm import  SVC

In [92]:
from sklearn.tree import  DecisionTreeClassifier

In [93]:
from sklearn.neighbors import KNeighborsClassifier

In [94]:
from sklearn.linear_model import LogisticRegression

In [95]:
from sklearn.ensemble import RandomForestClassifier

In [96]:
svm1 = SVC()
dtree1 = DecisionTreeClassifier()
knn1 = KNeighborsClassifier()
lreg1 = LogisticRegression()
rf1 = RandomForestClassifier()

In [97]:
algo = [svm1, dtree1, knn1, lreg1, rf1]

In [98]:
algo

[SVC(),
 DecisionTreeClassifier(),
 KNeighborsClassifier(),
 LogisticRegression(),
 RandomForestClassifier()]

In [99]:
import time 

for m in algo :
    print(m)
    time.sleep(1)

SVC()
DecisionTreeClassifier()
KNeighborsClassifier()
LogisticRegression()
RandomForestClassifier()

In [101]:
import warnings

In [102]:
warnings.filterwarnings('ignore')

In [103]:
for m in algo :
    m.fit(X_train, y_train)
    s = m.score(X_test, y_test)
    print(m,'==',s)
    time.sleep(2)

SVC() == 0.9333333333333333
DecisionTreeClassifier() == 0.9666666666666667
KNeighborsClassifier() == 0.9666666666666667
LogisticRegression() == 0.9666666666666667
RandomForestClassifier() == 0.9666666666666667

###   Cross Validation - Multiple Algorithms.

In [104]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [105]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Outcome, Length: 150, dtype: int32

In [106]:
from  sklearn.model_selection import cross_val_score

In [107]:
svm2 = SVC()
dtree2 = DecisionTreeClassifier()
knn2 = KNeighborsClassifier()
lreg2 = LogisticRegression()
rf2 = RandomForestClassifier()

In [108]:
algo1 = [svm2, dtree2, knn2, lreg2, rf2]

In [111]:
for m1 in algo1 :
    
    s1 = cross_val_score(m1, X,y, cv=10)
    
    print(m1,'==',s1.mean())
    print()
    print(s1)
    print()
    print("********************")
    print()
    time.sleep(1)

SVC() == 0.9733333333333334

[1.         0.93333333 1.         1.         1.         0.93333333
 0.93333333 0.93333333 1.         1.        ]

********************

DecisionTreeClassifier() == 0.96

[1.         0.93333333 1.         0.93333333 0.93333333 0.86666667
 0.93333333 1.         1.         1.        ]

********************

KNeighborsClassifier() == 0.9666666666666668

[1.         0.93333333 1.         1.         0.86666667 0.93333333
 0.93333333 1.         1.         1.        ]

********************

LogisticRegression() == 0.9733333333333334

[1.         0.93333333 1.         1.         0.93333333 0.93333333
 0.93333333 1.         1.         1.        ]

********************

RandomForestClassifier() == 0.96

[1.         0.93333333 1.         0.93333333 0.93333333 0.93333333
 0.86666667 1.         1.         1.        ]

********************

### Assignment

In [112]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [113]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Outcome, Length: 150, dtype: int32

In [ ]:
svm3 = SVC( kernel='rbf' )  # {'linear', 'poly', 'rbf', 'sigmoid'}